<!-- Navigation -->
<a class="menu-toggle rounded" (click)="onNavbarToggle()">
  <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper" [ngClass]="{'active': this.navbarActive }">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class="js-scroll-trigger" href="#page-top">Bet Sky</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#page-top">Home</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#about">About</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#services">Services</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#contact">Contact</a>
    </li>
  </ul>
</nav>

<!-- Header -->
<header class="masthead d-flex">
  <div class="container text-center my-auto">
    <h1 class="mb-1">BET SKY</h1>
    <h3 class="mb-5">
      <em>Una nueva forma de hacer apuestas</em>
    </h3>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">¿Quienes somos?</a>
  </div>
  <div class="overlay"></div>
</header>

<!-- About -->
<section class="content-section bg-light" id="about">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
        <p class="lead mb-5">This theme features a flexible, UX friendly sidebar menu and stock photos from our friends
          at
          <a href="https://unsplash.com/">Unsplash</a>!</p>
        <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">¿Comó funciona?</a>
      </div>
    </div>
  </div>
</section>

<!-- Services -->
<section class="content-section bg-primary text-white text-center" id="services">
  <div class="container">
    <div class="content-section-heading">
      <h3 class="text-secondary mb-0">Una nueva forma de hacer apuestas</h3>
      <h2 class="mb-5">¿Como funciona?</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="fa fa-lightbulb-o"></i>
        </span>
        <h4>
          <strong>¡Idea!</strong>
        </h4>
        <p class="text-faded mb-0">Se te ocurre una nueva apuesta</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="fa fa-plus"></i>
        </span>
        <h4>
          <strong>Registro</strong>
        </h4>
        <p class="text-faded mb-0">Ingresa tu apuesta a la plataforma</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="fa fa-trophy"></i>
        </span>
        <h4>
          <strong>Ganadores</strong>
        </h4>
        <p class="text-faded mb-0">Los ganadores reciben el premio</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <span class="fa-stack fa-lg">
            <i class="fa fa-trophy fa-stack-1x fa-stack-trophy"></i>
            <i class="fa fa-percent fa-inverse fa-stack-1x fa-stack-percent"></i>
          </span>
        </span>
        <h4>
          <strong>Tu tambien ganas</strong>
        </h4>
        <p class="text-faded mb-0">Tu ganas un porcentaje del premio de cada apuesta</p>
      </div>
    </div>
  </div>
</section>

<!-- Callout -->
<section class="callout">
  <div class="container text-center">
    <h2 class="mx-auto mb-5">Welcome to
      <em>your</em>
      next website!</h2>
    <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/template-overviews/stylish-portfolio/">Download
      Now!</a>
  </div>
</section>

<!-- Portfolio -->
<section class="content-section" id="portfolio">
  <div class="container">
    <div class="content-section-heading text-center">
      <h3 class="text-secondary mb-0">Apuestas</h3>
      <h2 class="mb-5">Apuestas mas populares</h2>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h2>Junior vs Colón</h2>
              <p class="mb-0">Adivina el marcador y gana!</p>
            </span>
          </span>
          <img class="img-fluid" src="/assets/img/portfolio-1.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h2>Desafio 2018</h2>
              <p class="mb-0">El desafio 2018 esta pronto a llegar a su final ¿Quien será el ganador?</p>
            </span>
          </span>
          <img class="img-fluid" src="/assets/img/portfolio-2.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h2>The Best</h2>
              <p class="mb-0">Ronaldo, Modric y Salah, solo uno podra ser <br><strong>The Best FIFA Men's Player</strong></p>
            </span>
          </span>
          <img class="img-fluid" src="/assets/img/portfolio-3.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h2>😆 #LosEspecialistasDelVallento</h2>
              <p class="mb-0">¿Será que sale un conjunto vallenato de la especialización?</p>
            </span>
          </span>
          <img class="img-fluid" src="/assets/img/portfolio-4.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action -->
<section class="content-section bg-primary text-white">
  <div class="container text-center">
    <h2 class="mb-4">The buttons below are impossible to resist...</h2>
    <a href="#" class="btn btn-xl btn-light mr-4">Click Me!</a>
    <a href="#" class="btn btn-xl btn-dark">Look at Me!</a>
  </div>
</section>

<!-- Map -->
<section id="contact" class="map">
  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
  <br />
  <small>
    <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
  </small>
</section>

<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <ul class="list-inline mb-5">
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="#">
          <i class="fa fa-facebook fa-2x"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="#">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white" href="#">
          <i class="fa fa-instagram fa-2x"></i>
        </a>
      </li>
    </ul>
    <p class="text-muted small mb-0">Copyright &copy; Your Website 2018</p>
  </div>
</footer>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
  <i class="fa fa-angle-up"></i>
</a>
