<!-- Navigation -->
<a class="menu-toggle rounded" (click)="onNavbarToggle()">
  <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper" [ngClass]="{'active': this.navbarActive }">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class="js-scroll-trigger" routerLink="/home">BetSky</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" routerLink="/signin">Iniciar sesion</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#about">Que tiene de diferente</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#services">Como funciona</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#portfolio">Apuestas Populares</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#contact">Contacenos</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
  <i class="fa fa-angle-up"></i>
</a>