<!-- Page Content -->
<div class="wrapper">
  <div class="container">

    <div class="row">

      <div class="col-lg-3 navigation">

        <h1 class="my-4">BETSKY</h1>
        <div class="list-group">
          <a (click)="onFilterBy('sports')" class="list-group-item">⚽️ Deportes</a>
          <a (click)="onFilterBy('showbiz')" class="list-group-item">🎤 Farandula</a>
          <a (click)="onFilterBy('funny')" class="list-group-item">😂 Divertidas</a>
          <a (click)="onFilterBy('')" class="list-group-item">Todas</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <router-outlet></router-outlet>
      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
</div>
<!-- /.container -->
