@import "../../assets/scss/variables";
@import '../../assets/scss/bootstrap-overrides';

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: $primary;
}

.navigation {
  h1 {
    color: #fff;
  }
}
